# /home/reidar/.config/systemd/user/countdown.service

[Unit]
Description=Countdown Flask via gunicorn
After=network.target

[Service]
WorkingDirectory=/home/reidar/countdown
Environment=COUNTDOWN_CONFIG=/home/reidar/countdown/config.json

ExecStart=/home/reidar/countdown/venv/bin/gunicorn wsgi:app \
  --bind 0.0.0.0:5000 --workers 2 --threads 4 --timeout 0 \
  --access-logfile - --error-logfile -
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=2

# (valgfritt) gjør loggene synlige i både journal og konsoll
# StandardOutput=null
StandardError=journal

[Install]
WantedBy=default.target
